.visualContainer {
  position: relative;
}

.thumbnail {
  border-radius: 8px;
  width: 100%;
}

.mediaContainer {
  display: flex;
  flex-direction: column;
}

.mediaContainer:hover .thumbnail {
  filter: brightness(0.5);
}

.bookmarkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  background-color: var(--transluscent-midnight-blue);
  border-radius: 50%;
  cursor: pointer;
  --hover-color: transparent;
}

.bookmarkContainer[data-status='active'] {
  --hover-color: var(--midnight-blue);
}

.bookmarkContainer[data-status='inactive'] {
  --hover-color: white;
}

.bookmarkContainer:hover {
  background-color: var(--hover-color);
}

.bookmarkIcon path {
  fill-opacity: 1;
}

.activeBookmark {
  fill: white;
}

.activeBookmark path {
  fill: white;
}

.bookmarkContainer:hover .activeBookmark path {
  fill: var(--transluscent-midnight-blue);
  stroke: white;
}

.bookmarkContainer:hover .inactiveBookmark path {
  fill: white;
  stroke: var(--transluscent-midnight-blue);
}

.visualContainer:hover .playContainer {
  opacity: 1;
}

.playContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 8px 8px 8px;
  background-color: var(--transluscent-midnight-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.playContainer:hover {
  background-color: white;
}

.playContainer:hover .playIcon path {
  fill: var(--midnight-blue);
}

.playText {
  color: white;
  font-size: 14px;
  font-family: 'Outfit';
  font-weight: 500;
}

.playContainer:hover .playText {
  color: var(--midnight-blue);
}

.playIcon {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 768px) {
  .mediaContainer {
    gap: 4px;
  }
}