.slick-track {
  display: flex;
  gap: 16px;
  overflow: hidden;
  min-width: 0px;
  margin-left: 4px
}

.slick-list {
  overflow: hidden;
}

.slick-slider {
  width: 750px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .slick-track {
    gap: 40px;
    margin-left: 0px
  }

  .slick-slider {
    width: 2510px;
  }
}