.trendingContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.title {
  color: white;
  font-size: 20px;
  font-family: 'Outfit';
  font-weight: 300;
  padding-left: 16px;
}

@media only screen and (min-width: 768px) {
  .trendingContainer {
    gap: 25px;
  }

  .title {
    font-size: 32px;
    padding-left: 25px;
  }
}