.trendingContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.title {
  color: white;
  font-size: 20px;
  font-family: 'Outfit';
  font-weight: 300;
  padding-left: 16px;
}