@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --orange-red: rgb(252, 71, 71);
  --noire: rgb(16, 20, 30);
  --pale-blue: rgb(90, 105, 143);
  --midnight-blue: rgb(22, 29, 47);
  --transluscent-midnight-blue: rgba(22, 29, 47, 0.5);
}

main, h1, p, body {
  margin: 0;
}